{% import "macros.html" as m %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="dark">
<title>{% block title %}{{ config.title }}{% endblock title %}</title>
{% block description %}<meta name="description" content="{{ config.description }}">{% endblock description %}
<link rel="stylesheet" href="/style.css">
<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
<link rel="icon" href="data:,">
</head>
{% block body %}
<body<!--# if expr="$http_sec_fetch_dest = iframe" --> class="framed"<!--# endif -->>
<!--# if expr="$http_sec_fetch_dest != iframe" -->
<div class="frame">
{{ m::shell_topbar() }}
{{ m::shell_console() }}
<!--# endif -->

<div class="layout">
<main>
{% block content %}{% endblock content %}
</main>
</div>

<!--# if expr="$http_sec_fetch_dest != iframe" -->
{{ m::shell_footer() }}
</div>
<!--# endif -->
</body>
{% endblock body %}
</html>
